.apha-same-zone, .apha-multi-zone {
	display: none;
}

body {
	font-family: 'Roboto', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	background: lightgrey;
}

#overlay {
	position: fixed;
	z-index: -1;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	display: block;
}

h1, h2, h3 {
	color: #008b10;
}

h1.first-title {
	font-size: 2.3em;
	padding-top: 1em;
}

h2::before {
	content: "\2023";
	padding-right: 0.3em;
}

h3 {
	display: inline;
	border-bottom: 1px dashed #008b10;
	font-size: 1.1em;
}

#main-content {
	display: table;
	background: #eef1f5;
	padding-left: 5em;
	padding-right: 5em;
	padding-bottom: 2em;
	border-left: 2px dotted #008b10;
	border-right: 2px dotted #008b10;
	margin-right: auto;
	margin-left: auto;
}

ul {
	list-style: none;
}

ul li::before {
	content: "\2022";
	color: #008b10;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

ul li {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

ul li b {
	color: #008b10;
}

div[name=select-device] {
	padding-bottom: 0.5em;
}

input[type=button] {
	width: 100%;
}

span.note {
	font-style: italic;
	font-size: 0.8em;
}

div[name=indent1] {
	padding-left: 3em;
}

table[id$=-second] {
	display: none;
}

tr.disabled td {
	color: lightgrey;
	display: none;
}

tr.disabled td input {
	color: inherit;
}

ul {
	max-width: 40em;
}

p {
	max-width: 40em;
}

#dialog-userdata textarea[name=config] {
	width: 30em;
	height: 85vh;
	border: 0px;
	padding: 1em 1em 1em 1em;
	outline: none;
}

#dialog-iam-role-unicast-ha, #dialog-userdata {
	display: none;
}

.ui-dialog-titlebar {
	background: #008b10 !important;
	color: white !important;
}

.ui-dialog {
	border: 2px solid #008b10 !important;
}

button.ui-button {
	outline: none;
}

#static-buttons {
	position: fixed;
	top: 1em;
	right: 1em;
}

#static-buttons fieldset {
	border: 1px solid #008b10;
}

#static-buttons legend {
	font-size: 1.2em;
	font-weight: bold;
	color: #008b10;
	padding-left: 5px;	
	padding-right: 5px;	
	margin-bottom: 5px;
}

#static-buttons fieldset {
	margin-bottom: 1em;
}

#static-buttons fieldset[name=setup-type] div {
	padding-bottom: 0.5em;
}

#static-buttons fieldset[name=setup-type] div:last-child {
	padding-bottom: 0em;
}
